@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: 0.3s all;
  overflow-x: hidden;
}
::-webkit-scrollbar{
  width: 0;
}
@media (max-width: 767px) {
  body {
    cursor:auto;
  }
}
body {
  cursor: none;
  overflow-x: hidden
}
.bg{
  background-size: 200% 200%;
  background-image: linear-gradient(49deg, rgb(0, 0, 0) 0%, rgb(2, 15, 82) 100%);
  animation: gradient 7s ease infinite;
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.effect {
  transition: 0.3s ease-in-out;
}
.effect:hover {
  transform: translateY(-10px);
}
.circle {
  background-image: url("../public/code.jpeg");
  background-size: cover;
  background-blend-mode: darken;
  background-repeat: no-repeat;
  cursor: pointer;
}
.circle:hover{
  transform: scale(1.03);
}

.circle:active{
  transform: scale(1);
}
.circleoutline{
  overflow: none;
  transition: all 0.5s ease; 
  animation: rotate 10s linear infinite,fade 1s ease-in-out;

}
.circle:hover + .circleoutline{
  animation: rotate 12s linear infinite;
}
.circle-word {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-origin: top left;
}

/* Rotate each word individually */
.circle-word:nth-child(1) {
  transform: rotate(0deg) translate(-50%, -50%);
}
.circle-word:nth-child(2) {
  transform: rotate(30deg) translate(-50%, -50%);
}
.circle-word:nth-child(3) {
  transform: rotate(60deg) translate(-50%, -50%);
}
.circle-word:nth-child(4) {
  transform: rotate(90deg) translate(-50%, -50%);
}
.circle-word:nth-child(5) {
  transform: rotate(120deg) translate(-50%, -50%);
}
.circle-word:nth-child(6) {
  transform: rotate(150deg) translate(-50%, -50%);
}
.circle-word:nth-child(7) {
  transform: rotate(180deg) translate(-50%, -50%);
}
.circle-word:nth-child(8) {
  transform: rotate(210deg) translate(-50%, -50%);
}
.circle-word:nth-child(9) {
  transform: rotate(240deg) translate(-50%, -50%);
}
.circle-word:nth-child(10) {
  transform: rotate(270deg) translate(-50%, -50%);
}
.circle-word:nth-child(11) {
  transform: rotate(300deg) translate(-50%, -50%);
}
.circle-word:nth-child(12) {
  transform: rotate(330deg) translate(-50%, -50%);
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.enter:nth-child(1){
  animation: enter 3.5s ease-in-out ;
  animation-delay: -2s;
}
.enter:nth-child(2){
  animation: enter 4s ease-in-out ;
  animation-delay: -2s;
  /* animation-delay: 0.6s; */
}
.enter:nth-child(3){
  animation: enter 4.5s ease-in-out ;
  animation-delay: -2s;
  /* animation-delay: 0.6s; */
}
.enter:nth-child(4){
  animation: enter 5s ease-in-out ;
  animation-delay: -2s;
  /* animation-delay: 0.6s; */
}
@keyframes enter {
  0%{
    transform: translateY(500px);
  }
  100%{
    transform: translateY(0px);
    
  }
}
.leave:nth-child(4){
  animation: leave 3.5s ease-in-out ;
}
.leave:nth-child(3){
  animation: leave 4s ease-in-out ;
}
.leave:nth-child(2){
  animation: leave 4.5s ease-in-out ;
}
.leave:nth-child(1){
  animation: leave 5s ease-in-out ;
}
@keyframes leave {
  0%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(-1000px);
    
  }
}
a:hover{
  cursor: none;
}
.fade{
  animation: fade 0.6s ease-in-out;
}

.pop{
  animation: fade 1s ease-in-out, pop 0.3s ease-in-out;
}
.up{
  animation: up 0.3s ease-in-out;
}
@keyframes up {
  0%{
    transform: translateY(50px);
  }
  100%{
    transform: translateY(0px);
  }
}

@keyframes pop {
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes fade {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
