@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'flowbite';

* {
  transition: 0.3s all;
  overflow-x: hidden;
  font-family:serif;
}
::-webkit-scrollbar{
  width: 0;
}
@media (max-width: 767px) {
  body {
    cursor:auto;
  }
}
body {
  cursor: none;
  overflow-x: hidden
}
.bg{
  background-size: 200% 200%;
  background-image: linear-gradient(49deg, rgb(0, 0, 0) 0%, rgb(2, 15, 82) 100%);
  animation: gradient 7s ease infinite;
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.effect {
  transition: 0.3s ease-in-out;
}
.effect:hover {
  transform: translateY(-10px);
}
.circle {
  background-image: url("../public/me.webp");
  background-size: cover;
  background-blend-mode: darken;
  transition: all 0.5s;
  background-repeat: no-repeat;
}
.circle:hover{
  scale: 1.03;
}
@keyframes fadeInOut {
  0%, 100% {
    background-image: url("../public/me.webp"); /* Start and end with the original image */
  }
  50% {
    background-image: url("../public/me2.webp"); /* Change to another image halfway through */
  }
}
.circleanimation{
  animation: rotateAnimation 15s linear infinite forwards,fadeInOut 20s linear infinite; 
  animation-fill-mode: forwards;
  animation-play-state:running;
}
.circleanimation.pause{
  animation-play-state:paused;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.circle:hover{
  transform: scale(1.03);
}

.circle:active{
  transform: scale(1);
}
.circleoutline{
  overflow: none;
  transition: all 0.5s ease; 
  animation: rotate 10s linear infinite,fade 1s ease-in-out;

}
.circle:hover + .circleoutline{
  animation: rotate 12s linear infinite;
}
.circle-word {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-origin: top left;
}

/* Rotate each word individually */
.circle-word:nth-child(1) {
  transform: rotate(0deg) translate(-50%, -50%);
}
.circle-word:nth-child(2) {
  transform: rotate(30deg) translate(-50%, -50%);
}
.circle-word:nth-child(3) {
  transform: rotate(60deg) translate(-50%, -50%);
}
.circle-word:nth-child(4) {
  transform: rotate(90deg) translate(-50%, -50%);
}
.circle-word:nth-child(5) {
  transform: rotate(120deg) translate(-50%, -50%);
}
.circle-word:nth-child(6) {
  transform: rotate(150deg) translate(-50%, -50%);
}
.circle-word:nth-child(7) {
  transform: rotate(180deg) translate(-50%, -50%);
}
.circle-word:nth-child(8) {
  transform: rotate(210deg) translate(-50%, -50%);
}
.circle-word:nth-child(9) {
  transform: rotate(240deg) translate(-50%, -50%);
}
.circle-word:nth-child(10) {
  transform: rotate(270deg) translate(-50%, -50%);
}
.circle-word:nth-child(11) {
  transform: rotate(300deg) translate(-50%, -50%);
}
.circle-word:nth-child(12) {
  transform: rotate(330deg) translate(-50%, -50%);
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.enter:nth-child(1){
  animation: enter 1s ease-in-out ;
  animation-delay: -2s;
}
.enter:nth-child(2){
  animation: enter 1.5s ease-in-out ;
  animation-delay: -2s;
  /* animation-delay: 0.6s; */
}
.enter:nth-child(3){
  animation: enter 2s ease-in-out ;
  animation-delay: -2s;
  /* animation-delay: 0.6s; */
}
.enter:nth-child(4){
  animation: enter 2.5s ease-in-out ;
  animation-delay: -2s;
  /* animation-delay: 0.6s; */
}
@keyframes enter {
  0%{
    transform: translateY(500px);
  }
  100%{
    transform: translateY(0px);
    
  }
}
.leave:nth-child(4){
  animation: leave 1s ease-in-out ;
}
.leave:nth-child(3){
  animation: leave 1.5s ease-in-out ;
}
.leave:nth-child(2){
  animation: leave 2s ease-in-out ;
}
.leave:nth-child(1){
  animation: leave 2.5s ease-in-out ;
}
@keyframes leave {
  0%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(-1000px);
    
  }
}
a:hover{
  cursor: none;
}
.fade{
  animation: fade 0.6s ease-in-out;
}

.pop{
  animation: fade 1s ease-in-out, pop 0.3s ease-in-out;
}
.up{
  animation: up 0.3s ease-in-out;
}
@keyframes up {
  0%{
    transform: translateY(50px);
  }
  100%{
    transform: translateY(0px);
  }
}

@keyframes pop {
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes fade {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}



.story-container {
  width: 100vw;
  overflow: hidden;
}

.scrolling-text {
  display: inline-block;
  transition: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
  will-change: transform;
  backface-visibility: hidden;
}

.scrolling-text .scrolling-text-content {
  color: #fff;
  font-size: 120px;
  white-space: nowrap;
  transition: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
  line-height: 1em;
  margin: 50px 0;
}

.fadein{
  animation: fade 1s ease-in-out;
}
.fadeout{
  animation: fadeout 1s ease-in-out;
}
@keyframes fadeout {
  0%{
    opacity: 100%;
  }
  50%{
    opacity: 0%;
  }
  100%{
    opacity: 100%;
  }
}
.no-animation {
  animation: none;
}
.post {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.post.fade-in {
  opacity: 1;
}

.post.fade-out {
  opacity: 0;
}
#toolbar {
  display: none;
}

.animatearrow{
  opacity: 0;
  animation: animatearrow 5s ease-in-out forwards ;
  animation-delay: 1s;
transform: translateY(20px);
}

@keyframes animatearrow {
  0%{
    opacity: 1;
    }
    100%{
      transform: translateY(500px);
      
      opacity: 0;
  }
}