@tailwind base;
@tailwind components;
@tailwind utilities;
@import "flowbite";

* {
  overflow-x: hidden;
  font-family: serif;
}
::-webkit-scrollbar {
  width: 0;
}
@media (max-width: 767px) {
  body {
    cursor: auto;
  }
}
body {
  cursor: none;
  overflow-x: hidden;
  background-color: black;
}

.effect {
  transition: 0.3s ease-in-out;
}
.effect:hover {
  transform: translateY(-10px);
}
.circle {
  background-image: url("../public/me.webp");
  background-size: cover;
  transition: all 0.5s;
  background-repeat: no-repeat;
}
.circle:hover {
  scale: 1.03;
}
@keyframes fadeInOut {
  0%,
  100% {
    background-image: url("../public/me.webp"); /* Start and end with the original image */
  }
  50% {
    background-image: url("../public/me2.webp"); /* Change to another image halfway through */
  }
}
.circleanimation {
  animation: rotateAnimation 15s linear infinite forwards,
    fadeInOut 20s linear infinite;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.circleanimation.pause {
  animation-play-state: paused;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.circle:hover {
  transform: scale(1.03);
}

.circle:active {
  transform: scale(1);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
a:hover {
  cursor: none;
}
.fade {
  animation: fade 0.6s ease-in-out;
}
.fade-none {
  animation: fade-none 0.6s ease-in-out;
}
@keyframes fade-none {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.pop {
  animation: fade 1s ease-in-out, pop 0.3s ease-in-out;
}
.up {
  animation: up 0.3s ease-in-out;
}
@keyframes up {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes pop {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.story-container {
  width: 100vw;
  overflow: hidden;
}

.scrolling-text {
  display: inline-block;
  transition: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
  will-change: transform;
  backface-visibility: hidden;
}

.scrolling-text .scrolling-text-content {
  color: #fff;
  font-size: 120px;
  white-space: nowrap;
  transition: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
  line-height: 1em;
  margin: 50px 0;
}

.fadein {
  animation: fade 1s ease-in-out;
}
.fadeout {
  animation: fadeout 1s ease-in-out;
}
@keyframes fadeout {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
.no-animation {
  animation: none;
}
.post {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.post.fade-in {
  opacity: 1;
}

.post.fade-out {
  opacity: 0;
}
#toolbar {
  display: none;
}

.animatearrow {
  opacity: 0;
  animation: animatearrow 5s ease-in-out forwards;
  animation-delay: 1s;
  transform: translateY(20px);
}

@keyframes animatearrow {
  0% {
    opacity: 1;
  }
  100% {
    transform: translateY(500px);

    opacity: 0;
  }
}
.animate-l-r {
  animation: fade 4s ease-in-out forwards, animate-l-r 9s ease-in-out forwards;
}
@keyframes animate-l-r {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
